/* nav */
nav {
    width: 100%;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    /* this navbar PMO!!!!!!!!!!!! */
}
nav a {
    display: block;
    text-decoration: none;
    padding: 0.5em 1em;
    color: #874e4a;
    background-color: black;
    text-align: center;
    font-size: 1.5em; 
      font-family: "Cormorant Garamond", serif;
  font-weight: 700;
  font-style: normal;
}
nav a:hover{
    color: #b96d67;
    background-color: black;
    transition: 0.5s ease-out, 0.5s ease-out;
}

/* body */
body, html{
    margin: 0;
    padding: 0;
}
body {
    background-color: black;
}

/* large screen */

@media screen and (min-width: 640px) {
    nav ul {
        flex-direction: row;
        width: 100%; 
    }
    
    nav ul li {
        flex: 1;
    }
}

/* text */
h1, h2{
    text-align: center;
     font-family: "Charm", cursive;
  font-weight: 700;
  font-style: normal;
  color: #874e4a;
}
div#general{
color: #874e4a;
font-family: "Cormorant Garamond", serif;
font-weight: 700;
text-align: center;
font-size: 20px;
}

img {
  display: block;
  margin: auto;
}

figure {
    padding: 4px;
    border: 9px solid #492c2c;
    background-color: #694646;
    width:fit-content;
    border-radius: 20px 0px 20px 0px;
    box-shadow: 5px 5px #3b2424;
}

figcaption {
    font-family: "Charm", cursive;
    font-weight: 300;
    color: #f7c6c2;
    text-align: center;
}

div#venus{
    display: flex;
    align-items: center;
    justify-content: center;
}

div#egg{
    display: flex;
    align-items: center;
    justify-content: center;
}

div#venustxt{
color: #874e4a;
font-family: "Cormorant Garamond", serif;
font-weight: 700;
text-align: center;
font-size: 20px;
}

div#mercurytxt{
color: #874e4a;
font-family: "Cormorant Garamond", serif;
font-weight: 700;
text-align: center;
font-size: 20px;
}

div#world{
color: #874e4a;
font-family: "Cormorant Garamond", serif;
font-weight: 700;
text-align: center;
font-size: 20px;
}

div#familytxt{
color: #874e4a;
font-family: "Cormorant Garamond", serif;
font-weight: 700;
text-align: center;
font-size: 20px;
}

div#caption{
color: #874e4a;
font-family: "Cormorant Garamond", serif;
font-weight: 700;
text-align: center;
font-size: 20px;
}

div#cvenash{
    display: flex;
    align-items: center;
    justify-content: center;
}
div#gameover{
    display: flex;
    align-items: center;
    justify-content: center;
}
div#humans{
    display: flex;
    align-items: center;
    justify-content: center;
}
div#you{
    display: flex;
    align-items: center;
    justify-content: center;
}
div#crusnr{
    display: flex;
    align-items: center;
    justify-content: center;
}
div#dog{
    display: flex;
    align-items: center;
    justify-content: center;
}
div#family{
    display: flex;
    align-items: center;
    justify-content: center;
}
div#horns{
    display: flex;
    align-items: center;
    justify-content: center;
}
div#afp{
    display: flex;
    align-items: center;
    justify-content: center;
}
div#cldmn{
    display: flex;
    align-items: center;
    justify-content: center;
}
div#mother{
    display: flex;
    align-items: center;
    justify-content: center;
}
div#father{
    display: flex;
    align-items: center;
    justify-content: center;
}
div#child{
    display: flex;
    align-items: center;
    justify-content: center;
}
div#koad{
    display: flex;
    align-items: center;
    justify-content: center;
}